.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: hotpink;
}

.grid div {
    width: 200px;
    height: 200px;
    background-color: grey;
    margin-bottom: 5px;
}

.playerX {
    background-image: url('ettx.png');
}

.playerO {
    background-image: url('nycirkel.png');
}